<div>

  <div class="topDiv" *ngIf="isTeacher()">
    <label class="selectLab">知识点</label>
    <div class="selectOptions">
      <nz-select style="width: 200px;" [(ngModel)]="eoKnowleagePoint" [nzPlaceHolder]="'请选择知识点'">
        <nz-option
          *ngFor="let option of eoKnowleagePoints"
          [nzLabel]="option.name"
          [nzValue]="option.id"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>
  </div>

  <div class="titleImport" *ngIf="show">

    <!--(change)="upload(file)"-->
    <label>上传题目EXCEL</label>
    <input id="file" class="selectOptions" #file type="file" multiple/>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" class=""
            (click)="upload(file)">
      <span>上传题目</span>
    </button>

    <!--<input *ngIf="isTeacher()" id="file" class="selectOptions" #file type="file" multiple/>-->
    <!--<button *ngIf="isTeacher()" nz-button [nzType]="'primary'" [nzSize]="'large'" class="" (click)="upload(file)">-->
    <!--<span>上传题目</span>-->
    <!--</button>-->
    <button *ngIf="isTeacher()" nz-button [nzType]="'primary'" [nzSize]="'large'" class="" (click)="download()">
      <span>下载模板</span>
    </button>
    <!--<span *ngIf="uploadProgress > 0 && uploadProgress < 100">-->
    <!--{{uploadProgress}}%-->
    <!--</span>-->
  </div>
  <!--
  <div class="imgTitle">
    <label for="file1">上传题目Image</label>
    <input id="file1" class="selectOptions" #file1 type="file" multiple/>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" class="" (click)="uploadImg(file1)">
      <span>图像识别</span>
    </button>
    <!--<span *ngIf="uploadProgress > 0 && uploadProgress < 100">-->
    <!--{{uploadProgress}}%-->
    <!--</span>-->
  <!--
  </div>

  <div class="imgTitle">

    <p class="imgText">{{imgText}}</p>

  </div>
-->
</div>
