<div class="class">
  <div class="classSearch">
    <label class="selectLab">学院</label>
    <div class="selectOptions">
      <nz-select style="width: 200px;" [(ngModel)]="_department" [nzPlaceHolder]="'请选择学院'"
                 (ngModelChange)="queryMajorSubject(_department)">
        <nz-option
          *ngFor="let option of departments"
          [nzLabel]="option.name"
          [nzValue]="option.id"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>
    <label class="selectLab">专业</label>
    <div class="selectOptions">
      <nz-select style="width: 200px;" [(ngModel)]="_major" [nzPlaceHolder]="'请选择专业'">
        <nz-option
          *ngFor="let option of majors"
          [nzLabel]="option.name"
          [nzValue]="option.id"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>
    <label class="selectLab">科目</label>
    <div class="selectOptions">
      <nz-select style="width: 200px;" [(ngModel)]="_subject" [nzPlaceHolder]="'请选择科目'"
                 [nzMode]="'multiple'">
        <nz-option
          *ngFor="let option of subjects"
          [nzLabel]="option.name"
          [nzValue]="option.id"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>
    <button nz-button [nzType]="'default'" (click)="insertBind()">
      <i class="anticon anticon-search"></i><span>绑定</span>
    </button>

    <!--<button nz-button [nzType]="'default'" class="c_right" (click)="operateData('add')">-->
    <!--<span>添加班级</span>-->
    <!--</button>-->
  </div>
  <div class="classTable" *ngIf="serachShow">
    <nz-table #nzTable
              [nzAjaxData]="_dataSet"
              nzShowSizeChanger
              [nzLoading]="_loading"
              [nzTotal]="_total"
              [(nzPageIndex)]="_current"
              (nzPageIndexChange)="refreshData()"
              [(nzPageSize)]="_pageSize"
              (nzPageSizeChange)="refreshData(true)"
              nzBordered>
      <thead nz-thead>
      <tr>
        <th nz-th>
          <span>编号</span>
          <nz-table-sort (nzValueChange)="sort()"></nz-table-sort>
        </th>
        <th nz-th>
          <span>科目名称</span>
        </th>
        <th nz-th><span>专业名称</span></th>
        <th nz-th><span>操作</span></th>
      </tr>
      </thead>
      <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data">
        <td nz-td>{{data.id}}</td>
        <td nz-td>{{data.subjectName}}</td>
        <td nz-td>{{data.majorName}}</td>
        <td nz-td>
          <nz-popconfirm [nzTitle]="'确定要删除这个任务吗？'" (nzOnConfirm)="confirm(data.id)" (nzOnCancel)="cancel()">
            <a nz-popconfirm>删除</a>
          </nz-popconfirm>

          <!--<span style="color: dodgerblue;cursor: pointer" (click)="operateData(data)">修改</span>-->
        </td>
      </tr>

      </tbody>
    </nz-table>
  </div>


  <!--弹窗-->
  <!--<nz-modal [nzVisible]="isVisible" [nzTitle]="'专业添加'" [nzContent]="modalContent" (nzOnCancel)="handleCancel()"-->
  <!--(nzOnOk)="addClass($event)">-->
  <!--<nz-modal [nzVisible]="isVisible" [nzTitle]="'tabTitle'" [nzContent]="modalContent" [nzFooter]="false"-->
  <!--(nzOnCancel)="handleCancel()">-->
  <!--<ng-template #modalContent>-->
  <!--<form nz-form [nzType]="'horizontal'" [formGroup]="validateForm">-->
  <!--<div nz-form-item nz-row>-->
  <!--<div nz-form-label nz-col [nzSpan]="6">-->
  <!--<label nz-form-item-required>学院</label>-->
  <!--</div>-->
  <!--<div nz-form-control nz-col [nzSpan]="14">-->
  <!--<nz-select style="width: 200px;" formControlName="department_modal" [(ngModel)]="department_modal" [nzPlaceHolder]="'请选择学院'" -->
  <!--(ngModelChange)="queryMajor_modal(department_modal)">-->
  <!--<nz-option-->
  <!--*ngFor="let option of departments_modal"-->
  <!--[nzLabel]="option.name"-->
  <!--[nzValue]="option.id"-->
  <!--[nzDisabled]="option.disabled">-->
  <!--</nz-option>-->
  <!--</nz-select>-->
  <!--<div nz-form-explain-->
  <!--*ngIf="validateForm.controls.department_modal.dirty&&validateForm.controls.department_modal.hasError('required')">-->
  <!--请选择学校-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div nz-form-item nz-row>-->
  <!--<div nz-form-label nz-col [nzSpan]="6">-->
  <!--<label nz-form-item-required>专业</label>-->
  <!--</div>-->
  <!--<div nz-form-control nz-col [nzSpan]="14">-->
  <!--<nz-select style="width: 200px;" formControlName="major_modal" [(ngModel)]="major_modal" [nzPlaceHolder]="'请选择专业'" >-->
  <!--<nz-option-->
  <!--*ngFor="let option of majors_modal"-->
  <!--[nzLabel]="option.name"-->
  <!--[nzValue]="option.id"-->
  <!--[nzDisabled]="option.disabled">-->
  <!--</nz-option>-->
  <!--</nz-select>-->
  <!--<div nz-form-explain-->
  <!--*ngIf="validateForm.controls.major_modal.dirty&&validateForm.controls.major_modal.hasError('required')">-->
  <!--请选择学校-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div nz-form-item nz-row>-->
  <!--<div nz-form-label nz-col [nzSpan]="6">-->
  <!--<label nz-form-item-required>班级</label>-->
  <!--</div>-->
  <!--<div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>-->
  <!--<nz-input [nzSize]="'large'" formControlName="class_modal" [(ngModel)]="class_modal" [nzType]="'text'" [nzId]="'text'"></nz-input>-->
  <!--<div nz-form-explain-->
  <!--*ngIf="validateForm.controls.class_modal.dirty&&validateForm.controls.class_modal.hasError('required')">请填写专业-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div nz-form-item nz-row *ngIf="statusShow">-->
  <!--<div nz-form-label nz-col [nzSpan]="6">-->
  <!--<label>状态</label>-->
  <!--</div>-->
  <!--<div nz-form-control nz-col [nzSpan]="14">-->
  <!--<nz-radio-group formControlName="is_adult">-->
  <!--<label nz-radio [nzValue]="1">-->
  <!--<span>已审核</span>-->
  <!--</label>-->
  <!--<label nz-radio [nzValue]="2">-->
  <!--<span>未审核</span>-->
  <!--</label>-->
  <!--</nz-radio-group>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div nz-form-item nz-row style="margin-bottom:8px;">-->
  <!--<div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">-->
  <!--<button nz-button [nzType]="'primary'" [nzSize]="'large'"-->
  <!--(click)="submit($event)">提交-->
  <!--</button>-->
  <!--<button nz-button [nzSize]="'large'" style="margin-left: 20px" (click)="handleCancel()">取消</button>-->
  <!--</div>-->
  <!--</div>-->
  <!--</form>-->
  <!--</ng-template>-->
  <!--</nz-modal>-->
</div>

<!--删除提醒-->

