<nz-card *ngIf="paper">
  <ng-template #title>
    {{paper.name}}
  </ng-template>
  <ng-template #extra>
    <nz-popconfirm [nzTitle]="'你确定要删除？'" (nzOnConfirm)="confirm(paper.id)" (nzOnCancel)="cancel()">
      <a nz-popconfirm>删除</a>
    </nz-popconfirm>
  </ng-template>
  <ng-template #body>
    <!--<p>{{paper.content}}</p>-->
    <a (click)="show(paper)">查看试卷信息</a>
  </ng-template>
</nz-card>
<!--考试成绩-->
<nz-modal [(nzVisible)]="isVisible" nzTitle="考试成绩" [nzContent]="modalContent" (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()">
  <ng-template #modalContent>
    <div *ngFor="let data of result">
      <p>编号：{{data.id}}</p>
      <span *ngIf="data.typeId==1">题型：选择题</span>
      <span *ngIf="data.typeId==2">题型：多选题</span>
      <span *ngIf="data.typeId==3">题型：判断题</span>
      <span *ngIf="data.typeId==4">题型：填空题</span>
      <span>知识点：{{data.eoKnowleagePointName}}</span>
      <p>题目：{{data.realTitle}}</p>
      <div *ngFor="let option of data.selectOptions;let i = index">
        <p>{{optionChange(i)}}.{{option}}</p>
      </div>
      <p>答案：{{data.realAnswer}}</p>
    </div>
  </ng-template>
</nz-modal>
