<div class="paper">

  <div class="paperSearch">
    <p style="font-size: large">自动组卷选项</p>
  </div>

  <div class="paperSearch">
    <label class="selectLab">试卷名称</label>
    <div class="selectOptions">
      <nz-input [(ngModel)]="title_nickname" [nzPlaceHolder]="'请输入试卷名称'"></nz-input>
    </div>
  </div>

  <div class="paperSearch">
    <label class="selectLab">难度:</label>
    <div class="selectOptions">
      <nz-select style="width: 200px;" [(ngModel)]="degree" [nzPlaceHolder]="'请选择难度'">
        <nz-option
          *ngFor="let option of degrees"
          [nzLabel]="option.label"
          [nzValue]="option.value"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>

    <label class="selectLab">知识点:</label>
    <div class="selectOptions">
      <nz-select style="width: 200px;" [(ngModel)]="knowledage" [nzPlaceHolder]="'请选择知识点'" [nzMode]="'multiple'"
      >
        <nz-option
          *ngFor="let option of knowledages"
          [nzLabel]="option.name"
          [nzValue]="option.id"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>
  </div>


  <div class="paperSearch">
    <p style="font-size: large">题型</p>
  </div>

  <div class="paperSearch">
    <p class="pLab" style="font-size: medium">一：单选题</p>
    <div class="selectOptions">
      <nz-input [(ngModel)]="radioNum" [nzPlaceHolder]="'Basic usage'"></nz-input>
    </div>
    <p class="pLab" style="font-size: medium">题，每题</p>
    <div class="selectOptions">
      <nz-input [(ngModel)]="radioGrade" [nzPlaceHolder]="'Basic usage'"></nz-input>
    </div>
    <p class="pLab" style="font-size: medium">分</p>
  </div>

  <div class="paperSearch">
    <p class="pLab" style="font-size: medium">二：多选题</p>
    <div class="selectOptions">
      <nz-input [(ngModel)]="selectNum" [nzPlaceHolder]="'Basic usage'"></nz-input>
    </div>
    <p class="pLab" style="font-size: medium">题，每题</p>
    <div class="selectOptions">
      <nz-input [(ngModel)]="selectGrade" [nzPlaceHolder]="'Basic usage'"></nz-input>
    </div>
    <p class="pLab" style="font-size: medium">分</p>
  </div>

  <div class="paperSearch">
    <p class="pLab" style="font-size: medium">三：判断题</p>
    <div class="selectOptions">
      <nz-input [(ngModel)]="judgeNum" [nzPlaceHolder]="'Basic usage'"></nz-input>
    </div>
    <p class="pLab" style="font-size: medium">题，每题</p>
    <div class="selectOptions">
      <nz-input [(ngModel)]="judgeGrade" [nzPlaceHolder]="'Basic usage'"></nz-input>
    </div>
    <p class="pLab" style="font-size: medium">分</p>
  </div>

  <div class="paperSearch">
    <p class="pLab" style="font-size: medium">四：填空题</p>
    <div class="selectOptions">
      <nz-input [(ngModel)]="fillNum" [nzPlaceHolder]="'Basic usage'"></nz-input>
    </div>
    <p class="pLab" style="font-size: medium">题，每题</p>
    <div class="selectOptions">
      <nz-input [(ngModel)]="fillGrade" [nzPlaceHolder]="'Basic usage'"></nz-input>
    </div>
    <p class="pLab" style="font-size: medium">分</p>
  </div>

  <!--<div class="paperSearch">-->
  <!--<p class="pLab" style="font-size: medium">五：完型填空</p>-->
  <!--<div class="selectOptions">-->
  <!--<nz-input [(ngModel)]="multipleNum" [nzPlaceHolder]="'Basic usage'"></nz-input>-->
  <!--</div>-->
  <!--<p class="pLab" style="font-size: medium">题，每题</p>-->
  <!--<div class="selectOptions">-->
  <!--<nz-input [(ngModel)]="multipleGrade" [nzPlaceHolder]="'Basic usage'"></nz-input>-->
  <!--</div>-->
  <!--<p class="pLab" style="font-size: medium">分</p>-->
  <!--</div>-->

  <div class="endDiv">
    <button nz-button [nzType]="'danger'" [nzSize]="'large'" (click)="submit()">
      <span>开始组卷</span>
    </button>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="reset()">
      <span>重置数据</span>
    </button>
  </div>


</div>

