<div class="login">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="_submitForm()">
    <div class="top_welcome">
      欢迎您
    </div>
    <div nz-form-item>
      <div nz-form-control>
        <nz-select style="width: 100%;" formControlName="adminCate" [(ngModel)]="roleId" [nzPlaceHolder]="'请选择用户'"
                   nzAllowClear>
          <nz-option
            style="padding-left: 10px"
            *ngFor="let option of userCate"
            [nzLabel]="option.label"
            [nzValue]="option"
            [nzDisabled]="option.disabled">
          </nz-option>
        </nz-select>
        <div nz-form-explain
             *ngIf="validateForm.controls.adminCate.dirty&&validateForm.controls.adminCate.hasError('required')">请选择用户!
        </div>
      </div>
    </div>
    <div nz-form-item>
      <div nz-form-control>
        <nz-input formControlName="username" (click)="fouces()" [(ngModel)]="username" [nzPlaceHolder]="'请输入用户名'"
                  [nzSize]="'large'">
          <ng-template #prefix>
            <i class="anticon anticon-user"></i>
          </ng-template>
        </nz-input>
        <div nz-form-explain
             *ngIf="validateForm.controls.username.dirty&&validateForm.controls.username.hasError('required')">请输入用户名!
        </div>
      </div>
    </div>
    <div nz-form-item>
      <div nz-form-control>
        <nz-input formControlName="password" (click)="fouces()" [(ngModel)]="password" [nzType]="'password'"
                  [nzPlaceHolder]="'请输入密码'"
                  [nzSize]="'large'">
          <ng-template #prefix>
            <i class="anticon anticon-lock"></i>
          </ng-template>
        </nz-input>
        <div nz-form-explain
             *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">请输入密码!
        </div>
      </div>
    </div>
    <div class="errorInfo" *ngIf="errorInfo">用户名或密码错误!</div>
    <div nz-form-item>
      <div nz-form-control>
        <!--<label nz-checkbox formControlName="remember">-->
        <!--<span>记住密码</span>-->
        <!--</label>-->
        <!--<a class="login-form-forgot" class="login-form-forgot">记住密码</a>-->
        <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">登录</button>
        <!--Or-->
        <!--<a href="">register now!</a>-->
      </div>
    </div>
    <div class="beian">
      苏州科技大学在线考试成绩分析系统
    </div>
  </form>
</div>
