.login{
  height:100%;
  width: 100%;
  background:url('../../../assets/imgs/background.jpg') no-repeat;
  background-size: cover;
  position: relative;
}
.login-form {
  min-width: 300px;
  max-width: 400px;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  background-color: white;
  padding: 35px 30px 10px;
  border-radius: 10px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
.beian{
  position: absolute;
  bottom:-60px;
  left:0px;
  color: white;
  font-size: 18px;
  width:100%;
  text-align: center;
}
.top_welcome{
  position: absolute;
  top:-60px;
  left:0px;
  color: white;
  font-size: 25px;
  width:100%;
  text-align: center;
}
.errorInfo {
  color: red;
  width:100%;
  text-align: center;
  margin-top: -13px;
}

