<div class="class">

  <div class="classTable">
    <nz-table #nzTable
              [nzAjaxData]="_dataSet"
              nzShowSizeChanger
              [nzLoading]="_loading"
              [nzTotal]="_total"
              [(nzPageIndex)]="_current"
              (nzPageIndexChange)="refreshData()"
              [(nzPageSize)]="_pageSize"
              (nzPageSizeChange)="refreshData(true)"
              nzBordered>
      <thead nz-thead>
      <tr>
        <th nz-th>
          <span>编号</span>
          <nz-table-sort (nzValueChange)="sort($event)"></nz-table-sort>
        </th>
        <th nz-th>
          <span>考试名称</span>
        </th>
        <th nz-th><span>科目名称</span></th>
        <th nz-th><span>成绩</span></th>
        <th nz-th><span>创建时间</span></th>
      </tr>
      </thead>
      <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data">
        <td nz-td>{{data.id}}</td>
        <td nz-td>{{data.examName}}</td>
        <td nz-td>{{data.subjectName}}</td>
        <td nz-td>{{data.score}}</td>
        <td nz-td>{{data.createdTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
      </tr>

      </tbody>
    </nz-table>
  </div>


  <!--弹窗-->
  <!--<nz-modal [nzVisible]="isVisible" [nzTitle]="'专业添加'" [nzContent]="modalContent" (nzOnCancel)="handleCancel()"-->
  <!--(nzOnOk)="addClass($event)">-->
</div>

<!--删除提醒-->

