<div class="class">
  <div class="classSearch">
    <label class="selectLab">题型</label>
    <div class="selectOptions">
      <nz-select style="width: 200px;" [(ngModel)]="_titleType" [nzPlaceHolder]="'请选择题型'" >
        <nz-option
          *ngFor="let option of titleTypes"
          [nzLabel]="option.label"
          [nzValue]="option.value"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>
    <label class="selectLab">知识点</label>
    <div class="selectOptions">
      <nz-select style="width: 200px;" [(ngModel)]="_knowledage" [nzPlaceHolder]="'请选择知识点'" >
        <nz-option
          *ngFor="let option of knowledages"
          [nzLabel]="option.name"
          [nzValue]="option.id"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>
    <button nz-button [nzType]="'default'" (click)="queryQuestion()">
      <i class="anticon anticon-search"></i><span>查询</span>
    </button>

  </div>
  <div class="classTable" *ngIf="serachShow">
    <nz-table #nzTable
              [nzAjaxData]="_dataSet"
              nzShowSizeChanger
              [nzLoading]="_loading"
              [nzTotal]="_total"
              [(nzPageIndex)]="_current"
              (nzPageIndexChange)="refreshData()"
              [(nzPageSize)]="_pageSize"
              (nzPageSizeChange)="refreshData(true)"
              nzBordered>
      <thead nz-thead>
      <tr>
        <th nz-th>
          <span>编号</span>
          <nz-table-sort (nzValueChange)="sort($event)"></nz-table-sort>
        </th>
        <th nz-th>
          <span>题目名称</span>
        </th>
        <th nz-th><span>题目信息</span></th>
        <th nz-th><span>状态</span></th>
        <th nz-th><span>题型</span></th>
        <th nz-th><span>创建时间</span></th>
        <th nz-th><span>操作</span></th>
      </tr>
      </thead>
      <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data">
        <td nz-td>{{data.id}}</td>
        <td nz-td>{{data.name}}</td>
        <td nz-td>{{data.realTitle|slice:0:20}}</td>
        <td nz-td *ngIf="data.isAudit ==1 ">已审核</td>
        <td nz-td *ngIf="data.isAudit ==0">未审核</td>
        <!--<td nz-td>{{data.typeId}}</td>-->
        <td nz-td *ngIf="data.typeId ==1 ">单选题</td>
        <td nz-td *ngIf="data.typeId ==2">多选题</td>
        <td nz-td *ngIf="data.typeId ==3 ">判断题</td>
        <td nz-td *ngIf="data.typeId ==4">填空题</td>
        <td nz-td *ngIf="data.typeId ==5">完型填空</td>
        <td nz-td>{{data.createdTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td nz-td>

          <span style="color: dodgerblue;cursor: pointer" (click)="showMessage(data)">查看</span>
          <nz-popconfirm [nzTitle]="'确定要删除这个任务吗？'" (nzOnConfirm)="confirm(data.id)" (nzOnCancel)="cancel()">
            <a nz-popconfirm>删除</a>
          </nz-popconfirm>
        </td>
      </tr>

      </tbody>
    </nz-table>
  </div>

  <nz-modal [nzVisible]="isVisible" [nzTitle]="'消息'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)"
            (nzOnOk)="handleOk($event)">
    <ng-template #modalContent>
      <p>{{message}}</p>
      <p>{{option}}</p>
      <p>{{answer}}</p>
    </ng-template>
  </nz-modal>

</div>


<!--The content below is only a placeholder and can be replaced.-->
<!--<h1>-->
<!--Welcome to <a target="_blank" [href]="url">{{title}}</a> demo app!-->
<!--</h1>-->

<!--<div class="container">-->
<!--<h2>Equation: </h2>-->
<!--<p>Type here your equation:</p>-->
<!--<p><input type="text" [(ngModel)]="equation"></p>-->
<!--<p>-->
<!--<ng-katex [equation]="equation" [options]="options"></ng-katex>-->
<!--</p>-->


<!--<div *ngFor="let option of options">-->
<!--<p *ngIf="!isMath(option)">{{option}}</p>-->
<!--<ng-katex *ngIf="isMath(option)" [equation]="equation" [options]="options"></ng-katex>-->
<!--</div>-->

