<div class="paper">

  <div class="paperSearch">
    <p style="font-size: large">定时查重</p>
  </div>

  <!--<div class="paperSearch">-->
  <!--<label class="selectLab">任务名称</label>-->
  <!--<div class="selectOptions">-->
  <!--<nz-input [(ngModel)]="_jobName" [nzPlaceHolder]="'请输入任务名称'"></nz-input>-->
  <!--</div>-->
  <!--</div>-->

  <div class="paperSearch">
    <label class="selectLab">描述</label>
    <div class="selectOptions">
      <nz-input [(ngModel)]="_jobDescription" [nzPlaceHolder]="'请输入任务描述'"></nz-input>
    </div>

  </div>

  <div class="paperSearch">
    <label class="selectLab">任务时间</label>
    <div class="selectOptions">
      <nz-datepicker [(ngModel)]="_startDate" nzShowTime [nzPlaceHolder]="'开始时间'"
                     [nzFormat]="'YYYY-MM-DD'"></nz-datepicker>
      <nz-datepicker [(ngModel)]="_endDate" nzShowTime [nzPlaceHolder]="'结束时间'"
                     [nzFormat]="'YYYY-MM-DD'"></nz-datepicker>
    </div>

    <label class="selectLab">定时任务</label>
    <div class="selectOptions">
      <nz-select style="width: 200px;" [(ngModel)]="_planTime" [nzPlaceHolder]="'请选择任务时间'"
      >
        <nz-option
          *ngFor="let option of planTimes"
          [nzLabel]="option.label"
          [nzValue]="option.value"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>

    <label class="selectLab">状态</label>
    <div class="selectOptions">
      <nz-select style="width: 200px;" [(ngModel)]="_status" [nzPlaceHolder]="'请选择任务状态'"
      >
        <nz-option
          *ngFor="let option of status"
          [nzLabel]="option.label"
          [nzValue]="option.value"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>
  </div>

  <div class="endDiv">
    <button nz-button [nzType]="'danger'" [nzSize]="'large'" (click)="submit()">
      <span>定时任务</span>
    </button>

    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="search()">
      <span>查询重复</span>
    </button>
  </div>

  <div class="classTable">
    <nz-table #nzTable
              [nzAjaxData]="_dataSet"
              nzShowSizeChanger
              [nzLoading]="_loading"
              [nzTotal]="_total"
              [(nzPageIndex)]="_current"
              (nzPageIndexChange)="refreshData()"
              [(nzPageSize)]="_pageSize"
              (nzPageSizeChange)="refreshData(true)"
              nzBordered>
      <thead nz-thead>
      <tr>
        <th nz-th>
          <span>编号</span>
          <nz-table-sort (nzValueChange)="sort()"></nz-table-sort>
        </th>
        <th nz-th>
          <span>任务描述</span>
        </th>
        <th nz-th><span>计划开始</span></th>
        <th nz-th><span>计划结束</span></th>
        <th nz-th><span>定时开始</span></th>
        <th nz-th><span>状态</span></th>
        <th nz-th><span>操作</span></th>
      </tr>
      </thead>
      <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data">
        <td nz-td>{{data.id}}</td>
        <td nz-td>{{data.description|slice:0:20}}</td>
        <td nz-td>{{data.planStartDate|date:'yyyy-MM-dd'}}</td>
        <td nz-td>{{data.planEndDate|date:'yyyy-MM-dd'}}</td>
        <td nz-td>{{data.cronExpression}}</td>
        <td nz-td *ngIf="data.status==0">禁用</td>
        <td nz-td *ngIf="data.status==1">启动</td>
        <td nz-td *ngIf="data.status==2">删除</td>
        <td nz-td>
          <!--<span>shanchu</span>-->
          <!--<span>xiugai</span>-->
          <nz-popconfirm [nzTitle]="'确定要删除这个任务吗？'" (nzOnConfirm)="confirm(data.id)" (nzOnCancel)="cancel()">
            <a nz-popconfirm>删除</a>
          </nz-popconfirm>
        </td>
      </tr>

      </tbody>
    </nz-table>
  </div>


</div>

