<div class="div-get-analysis">
  <div class="departmentSearch a">
    <!--<label class="selectLab">学院</label>-->
    <!--<div class="selectOptions">-->
    <!--<nz-select style="width: 200px;" [(ngModel)]="_department" [nzPlaceHolder]="'请选择学院'" -->
    <!--(ngModelChange)="queryMajor(_department)">-->
    <!--<nz-option-->
    <!--*ngFor="let option of departments"-->
    <!--[nzLabel]="option.name"-->
    <!--[nzValue]="option.id"-->
    <!--[nzDisabled]="option.disabled">-->
    <!--</nz-option>-->
    <!--</nz-select>-->
    <!--</div>-->

    <!--<label class="selectLab">专业</label>-->
    <!--<div class="selectOptions">-->
    <!--<nz-select style="width: 200px;" [(ngModel)]="_major" [nzPlaceHolder]="'请选择专业'" -->
    <!--(ngModelChange)="queryClass(_major)">-->
    <!--<nz-option-->
    <!--*ngFor="let option of majors"-->
    <!--[nzLabel]="option.name"-->
    <!--[nzValue]="option.id"-->
    <!--[nzDisabled]="option.disabled">-->
    <!--</nz-option>-->
    <!--</nz-select>-->
    <!--</div>-->

    <!--<label class="selectLab">班级</label>-->
    <!--<div class="selectOptions">-->
    <!--<nz-select style="width: 200px;" [(ngModel)]="_class" [nzPlaceHolder]="'请选择班级'" -->
    <!--(ngModelChange)="queryStudent(_class)">-->
    <!--<nz-option-->
    <!--*ngFor="let option of classes"-->
    <!--[nzLabel]="option.name"-->
    <!--[nzValue]="option.id"-->
    <!--[nzDisabled]="option.disabled">-->
    <!--</nz-option>-->
    <!--</nz-select>-->
    <!--</div>-->
    <!--<button nz-button [nzType]="'default'" (click)="searchDepartment()">-->
    <!--<i class="anticon anticon-search"></i><span>查询</span>-->
    <!--</button>-->
  </div>
  <div class="departmentSearch b">
    <label class="selectLab">考试</label>
    <div class="selectOptions">
      <nz-select style="width: 200px;" [(ngModel)]="_exam" [nzPlaceHolder]="'请选择考试'">
        <nz-option
          *ngFor="let option of exams"
          [nzLabel]="option.name"
          [nzValue]="option.id"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>

    <label class="selectLab">知识点</label>
    <div class="selectOptions">
      <nz-select style="width: 200px;" [(ngModel)]="_knowledge" [nzPlaceHolder]="'请选择知识点'"
                 (ngModelChange)="queryQuestion(_knowledge)">
        <nz-option
          *ngFor="let option of knowledges"
          [nzLabel]="option.name"
          [nzValue]="option.id"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>

    <label class="selectLab">题目</label>
    <div class="selectOptions">
      <nz-select style="width: 200px;" [(ngModel)]="_title" [nzPlaceHolder]="'请选择题目'">
        <nz-option
          *ngFor="let option of titles"
          [nzLabel]="option.name"
          [nzValue]="option.id"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>

    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="submit()">
      <span>&nbsp;查询&nbsp;</span>
    </button>
  </div>
  <!--<div>-->
  <div class="charts">
    <div echarts [options]="option1" class="option1" style="height:400px"></div>
    <br>
    <br>
    <div echarts [options]="option2" class="option2" style="height:400px"></div>
    <br>
    <div echarts [options]="option3" class="option3" style="height:450px"></div>
    <div echarts [options]="option4" class="option4" style="height:450px"></div>
  </div>
</div>
