p{
            color: red;
            background-color: aliceblue;
        }
        p.blue{
            background-color: antiquewhite;
        }

        p#green{
            color: green;
        }