<div class="class">
  <div class="classSearch">
    <label class="selectLab">学院</label>
    <div class="selectOptions">
      <nz-select style="width: 200px;" [(ngModel)]="department" [nzPlaceHolder]="'请选择学院'"
                 (ngModelChange)="queryMajor(department)">
        <nz-option
          *ngFor="let option of departments"
          [nzLabel]="option.name"
          [nzValue]="option.id"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>

    <label class="selectLab">专业</label>
    <div class="selectOptions">
      <nz-select style="width: 200px;" [(ngModel)]="major" [nzPlaceHolder]="'请选择专业'"
                 (ngModelChange)="queryClass(major)">
        <nz-option
          *ngFor="let option of majors"
          [nzLabel]="option.name"
          [nzValue]="option.id"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>

    <label class="selectLab">班级</label>
    <div class="selectOptions">
      <nz-select style="width: 200px;" [(ngModel)]="class" [nzPlaceHolder]="'请选择班级'"
      >
        <nz-option
          *ngFor="let option of classes"
          [nzLabel]="option.name"
          [nzValue]="option.id"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>
    <button nz-button [nzType]="'default'" (click)="submit()">
      <i class="anticon anticon-search"></i><span>查询</span>
    </button>

  </div>
  <div class="classTable" *ngIf="serachShow">
    <nz-table #nzTable
              [nzAjaxData]="_dataSet"
              nzShowSizeChanger
              [nzLoading]="_loading"
              [nzTotal]="_total"
              [(nzPageIndex)]="_current"
              (nzPageIndexChange)="refreshData()"
              [(nzPageSize)]="_pageSize"
              (nzPageSizeChange)="refreshData(true)"
              nzBordered>
      <thead nz-thead>
      <tr>
        <th nz-th>
          <span>编号</span>
          <nz-table-sort (nzValueChange)="sort($event)"></nz-table-sort>
        </th>
        <th nz-th>
          <span>考试名称</span>
        </th>
        <th nz-th><span>姓名</span></th>
        <th nz-th><span>成绩</span></th>
        <th nz-th><span>创建时间</span></th>
      </tr>
      </thead>
      <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data">
        <td nz-td>{{data.id}}</td>
        <td nz-td>{{data.examName}}</td>
        <td nz-td>{{data.realName}}</td>
        <td nz-td>{{data.score}}</td>
        <td nz-td>{{data.createdTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
      </tr>

      </tbody>
    </nz-table>
  </div>


  <!--弹窗-->
  <!--<nz-modal [nzVisible]="isVisible" [nzTitle]="'专业添加'" [nzContent]="modalContent" (nzOnCancel)="handleCancel()"-->
  <!--(nzOnOk)="addClass($event)">-->
</div>

<!--删除提醒-->

