<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.User.UserMapper">
    <insert id="addUser" parameterType="map">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            select COUNT(LoginName) from userinfo where LoginName = #{LoginName}
        </selectKey>
        insert into userInfo set LoginName = #{LoginName},LoginPassword = #{LoginPassword},DeviceUser=#{DeviceUser}
    </insert>

    <select id="loginUser" parameterType="string" resultType="map">
        select * from userinfo where  LoginName = #{LoginName}
    </select>

    <select id="getAllUser" resultType="map">
        select LoginName,DeviceUser from userinfo where DeviceUser != 'root'
    </select>
</mapper>