<div class="paper">

  <div class="paperSearch">
    <p style="font-size: large">考试安排</p>
  </div>

  <div class="paperSearch">
    <label class="selectLab">考试名称</label>
    <div class="selectOptions">
      <nz-input [(ngModel)]="_examName" [nzPlaceHolder]="'请输入考试名称'"></nz-input>
    </div>
  </div>

  <div class="paperSearch">
    <label class="selectLab">学院</label>
    <div class="selectOptions">
      <nz-select style="width: 200px;" [(ngModel)]="department" [nzPlaceHolder]="'请选择学院'"
                 (ngModelChange)="queryMajor(department)">
        <nz-option
          *ngFor="let option of departments"
          [nzLabel]="option.name"
          [nzValue]="option.id"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>
    <label class="selectLab">专业</label>
    <div class="selectOptions">
      <nz-select style="width: 200px;" [(ngModel)]="major" [nzPlaceHolder]="'请选择专业'"
                 (ngModelChange)="queryClass(major)">
        <nz-option
          *ngFor="let option of majors"
          [nzLabel]="option.name"
          [nzValue]="option.id"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>

    <label class="selectLab">班级</label>
    <div class="selectOptions">
      <nz-select style="width: 200px;" [(ngModel)]="class" [nzPlaceHolder]="'请选择班级'"
                 [nzMode]="'multiple'">
        <nz-option
          *ngFor="let option of classes"
          [nzLabel]="option.name"
          [nzValue]="option.id"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>

  </div>

  <div class="paperSearch">
    <label class="selectLab">考试时间</label>
    <div class="selectOptions">
      <nz-datepicker [(ngModel)]="_startTime" nzShowTime [nzPlaceHolder]="'开始时间'"
                     [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
      <nz-datepicker [(ngModel)]="_endTime" nzShowTime [nzPlaceHolder]="'结束时间'"
                     [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
    </div>

    <label class="selectLab">考试时长</label>
    <div class="selectOptions">
      <nz-input [(ngModel)]="_duration" [nzPlaceHolder]="'分钟'" [nzSize]="'large'"></nz-input>
    </div>

    <label class="selectLab">试卷</label>
    <div class="selectOptions">
      <nz-select style="width: 200px;" [(ngModel)]="_examPaper" [nzPlaceHolder]="'请选择试卷'"
      >
        <nz-option
          *ngFor="let option of examPapers"
          [nzLabel]="option.name"
          [nzValue]="option.id"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>
  </div>

  <div class="endDiv">
    <button nz-button [nzType]="'danger'" [nzSize]="'large'" (click)="submit()">
      <span>考试安排</span>
    </button>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="reset()">
      <span>重置数据</span>
    </button>
  </div>

  <div class="classTable" *ngIf="serachShow">
    <nz-table #nzTable
              [nzAjaxData]="_dataSet"
              nzShowSizeChanger
              [nzLoading]="_loading"
              [nzTotal]="_total"
              [(nzPageIndex)]="_current"
              (nzPageIndexChange)="refreshData()"
              [(nzPageSize)]="_pageSize"
              (nzPageSizeChange)="refreshData(true)"
              nzBordered>
      <thead nz-thead>
      <tr>
        <th nz-th>
          <span>编号</span>
          <nz-table-sort (nzValueChange)="sort($event)"></nz-table-sort>
        </th>
        <th nz-th>
          <span>考试名称</span>
        </th>
        <th nz-th><span>试卷</span></th>
        <th nz-th><span>时长</span></th>
        <th nz-th><span>开始时间</span></th>
        <th nz-th><span>结束时间</span></th>
        <th nz-th><span>操作</span></th>
      </tr>
      </thead>
      <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data">
        <td nz-td>{{data.id}}</td>
        <td nz-td>{{data.name}}</td>
        <td nz-td>{{data.paperName}}</td>
        <td nz-td>{{data.duration}}分钟</td>
        <td nz-td>{{data.startTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td nz-td>{{data.endTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td nz-td>
          <nz-popconfirm [nzTitle]="'确定要删除这个考试吗？'" (nzOnConfirm)="confirm(data.id)" (nzOnCancel)="cancel()">
            <a nz-popconfirm>删除</a>
          </nz-popconfirm>
        </td>
      </tr>

      </tbody>
    </nz-table>
  </div>


</div>

